
/* -------------> 
		header */

#header {
	background-color: #1abc9c;
	height: 80px;
}

p#nom {
	margin-left: 25px;
	margin-top: 25px;
	font-family: 'Segoe UI';
	font-size: 14pt;
	color: white;
}

#header ul li {
	float: left;
	list-style: none;
	margin-left:35px;
	margin-right: 55px;
}

#header ul {
	margin-right: 5%;
	margin-top: 25px;
}


#header ul li#first {
	margin-left: 0px;
}

#header ul li#last {
	margin-right: 0px;
} 


#header ul li a {
	color: white;
	font-family: 'Segoe UI';
	font-size: 12pt;
	text-decoration: none;
	padding: 10px 18px 10px 18px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}

#header ul li a:hover {
	background: #16a085;

}

#navigation {
	width: 110%;
}

/* Content */

#apropos {
	background-color: #16a085;
	height: 500px;
}

#wrapImageCentre {
	background-color: #ecf0f1;
	height: 300px;
	width: 300px;
	text-align: center;
	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	border-radius: 300px;
	margin-top: 92px;
}

#imageCentre {
	background-color: #1abc9c;
	height: 289px;
	width: 291px;
	text-align: center;
	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	border-radius: 300px;
	margin-top: 92px;
	margin-left: 3px;
	padding-left: 3px;
	padding-right: -4px;
	padding-top: 10px;
}

#imageCentre img {
    margin-top: 25px;
	
    margin-left: 22px;
}